*{
  text-align:center;
}
 body {
   background-image: url('transbackground5.JPG');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
h1 {color: black;}
p {color:black}
h1 {font-family: 'Peralta', cursive;}
h1{text-decoration:underline;}
.same{font-family:'Gochi Hand', cursive;
Font-size:25px;}
p{font-family:'Gochi Hand',cursive; Font-size:25px;}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
ul{
text-align:center;
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li{font-family:'Gochi Hand', cursive;
Font-size:25px;
float:left;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.main-header nav {
 margin-left:auto;
 margin-right:auto;
 max-width:2000px;
 width:90%;
 font-size:1.5rem;
 line-height:1;
 padding:5rem 0 5rem;
 letter-spacing:-0.025rem;
 list-style-type:none;
}
.main-header nav ul {
 font-family:'Spicer Sans Regular', sans-serif;
 font-weight:normal;
 font-style:normal;
 margin:0;
 padding:0;
 list-style-type:none;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 -webkit-justify-content:center;
 -moz-justify-content:center;
 justify-content:center;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-direction:normal;
 -webkit-box-orient:horizontal;
 -webkit-flex-direction:row;
 -moz-flex-direction:row;
 -ms-flex-direction:row;
 flex-direction:row;
 -moz-transform:translateZ(0);
 -webkit-transform:translateZ(0);
 transform:translateZ(0);
 margin:0 auto;
}
.main-header nav ul li {
 margin:0;
 padding:0;
 display:inline;
 list-style-type:none;
}
.main-header nav ul a {
 color: white;
 cursor:pointer;
 width:100%;
 height:100%;
 display:block;
 -webkit-transform-origin:center center;
 -moz-transform-origin:center center;
 -ms-transform-origin:center center;
 -o-transform-origin:center center;
 transform-origin:center center;
 padding:0;
list-style-type:none;
}
.main-header nav ul a:hover {
 border-color: white;
 color: white;
}
.main-header nav ul a:hover u {
 text-decoration-color: white;
 -webkit-text-decoration-color: white;
 text-decoration:underline;
}
.main-header nav ul a u {
 text-decoration:none;
}
.main-header nav ul li {
 padding:0 2rem;
}
.main-header nav ul li.current_page_item a {
 position:relative;
 color:white;
}
.main-header nav ul li.current_page_item a u {
 text-decoration-color: white;
 -webkit-text-decoration-color: white;
 text-decoration:underline;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}
.fa-lg {
font-size: 1.33333em;
line-height: .75em;
}
.fab {
font-family: "Font Awesome 5 Brands";
}
.fa-inverse {
color: #fff;
}
.fa-stack-1x {
line-height: inherit;
}
fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-stack-1x, .fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Set a specific color for each brand */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-tiktok {
  background: #000000;
   color: white;
}
